nav {
  justify-content: space-between;
  display: flex;
  background: transparent;
}

nav ul {
  padding: 34px 110px 0px 0px;
  margin: 0;
  float: right;
  position: relative;
}

nav h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 0px 0px 80px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 0px 30px 0px 30px;
  font-size: 18px;
  color: #292727;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.sign {
  border: 2px solid #c2c2fa;
  background-color: #c2c2fa;
  padding: 7px 25px;
  border-radius: 26px;
  margin-left: 20px;
  cursor: pointer;
}

.button {
  padding-top: 60px;
}

.button a {
  border: 2px solid #c2c2fa;
  background-color: #c2c2fa;
  cursor: pointer;
  padding: 7px 25px;
  border-radius: 26px;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.active {
  text-decoration: underline;
}

img {
  float: right;
  padding: 60px 80px 0px 0px;
}

.text {
  float: left;
  padding: 150px 0px 0px 80px;
}

.text h1 {
  color: #063341;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5rem;
  margin: 0;
}

.text h2 {
  color: #ffb222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  letter-spacing: 13px;
  font-weight: normal;
  margin: 0;
}

.text p {
  color: #857c7c;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 28px;
}

.hamburger {
  display: none;
  padding: 30px 80px 0px 0px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.title {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #063341;
  padding-top: 60px;
}

form {
  text-align: center;
}

form input {
  height: 45px;
  border: none;
  border-bottom: 0.5px solid black;
  width: 500px;
  text-align: center;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form .submit {
  border: 2px solid #c2c2fa;
  background-color: #c2c2fa;
  cursor: pointer;
  padding: 7px 95px;
  border-radius: 26px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #063341;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1060px) {
  nav ul li a {
    padding: 0px 5px 0px 5px;
    font-size: 18px;
  }

  img {
    width: 80%;
    margin: auto;
    display: block;
    padding: 0;
    float: none;
  }

  .text {
    width: 80%;
    padding: 50px 0px 0px 60px;
  }

  .button {
    padding: 40px 0px 30px 0px;
  }
}
@media screen and (max-width: 767px) {
  nav ul {
    position: fixed;
    left: -120%;
    top: 5rem;
    display: grid;
    background-color: #fff;
    width: 100%;
    text-align: center;
  }

  nav ul.active {
    left: 0;
  }

  nav ul li {
    margin: 20px 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  img {
    width: 80%;
    margin: auto;
    display: block;
    padding: 0;
    float: none;
  }

  .text {
    width: 80%;
    padding: 40px 0px 0px 35px;
  }

  .title {
    padding-top: 40px;
    margin: 0;
  }

  form input {
    height: 45px;
    width: 270px;
    margin: 0;
  }

  form .submit {
    padding: 7px 65px;
    font-size: 1rem;
    margin: 0;
  }
}
